.form{
  text-align: center;
  margin-top: 40px;
}
input[type=submit]{
padding: 10px 10px;
border-radius: 20%;

}
input[type=text]{
padding: 10px 10px;
border-radius: 20%;
}
.text-value{
 

}
p{
  width: 300px;
  margin: 10px auto;
  padding: 10px;
  justify-content: center;
  border: 1px solid black;
  border-radius:10px;
  background-color: blueviolet;

}